@use './variables' as *;

@mixin smooth-scale($scale: 1.05, $duration: 0.3s, $easing: ease) {
  transition: transform $duration $easing;
  will-change: transform;

  &:hover {
    transform: scale($scale);
  }
}

@mixin background-image(
  $link,
  $size: cover,
  $position: center,
  $repeat: no-repeat,
  $attachment: scroll
) {
  background-image: url($link);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 28px;

  @include on-tablet {
    padding-inline: 82px;
  }

  @include on-desktop {
    padding-inline: 103px;
  }
}

@mixin content-padding-block {
  padding-block: 25px;

  @include on-tablet {
    padding-block: 50px;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;

  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include on-desktop {
    --columns: 12;

    column-gap: 30px;
  }
}
