$c-gray: #eee;
$text-color: white;
$background-color: rgba(14, 17, 22, 0.8);
$border-color: rgba(255, 255, 255, 0.2);
$description-color: rgba(234, 234, 234, 0.6);
$tablet-min-width: 640px;
$desktop-min-width: 1248px;
$effectDuration: 0.3s;
$main-text-color: #161616;
