@use 'variables' as *;
@use 'mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  //overflow-x: hidden;
  //overscroll-behavior: none;
}

body {
  margin: 0;
  //height: 100%;
  //overscroll-behavior: none;
}

html {
  background: url('/assets/bg-i-phone.png');
  background-size: cover;

  margin: 0;

  @include on-tablet {
    background-image: url('/assets/bg-i-tablet.png');
  }

  @include on-desktop {
    background-image: url('/assets/bg-i-desktop.png');
  }
}