@use 'variables' as *;
@use 'mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #1a1a1a; 
  overscroll-behavior: none;
}

body {
  background: url('/assets/bg-i-phone1.png') center center / cover no-repeat fixed;
  margin: 0;


  @include on-tablet {
    background-image: url('/assets/bg-i-tablet.png');
  }

  @include on-desktop {
    background-image: url('/assets/bg-i-desktop.png');
  }
}