.tree {
  font-family: 'inter', sans-serif;

  text-align: center;

  @include content-padding-inline;

  &__title {
    margin: 37px 0 28px;
    color: $text-color;
    text-align: center;

    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.1em;
    text-shadow: 0 0 35px rgba(231, 114, 18, 1);

    @include on-tablet {
      margin: 59px 0 58px;
      font-size: 40px;
    }

    @include on-desktop {
      margin: 72px 0 44px;
      font-size: 56px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    @include on-tablet {
      gap: 39px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }
}