.link {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 264px;
  border-radius: 15px;
  border: 0.5px solid $border-color;

  background-color: $background-color;

  @include on-tablet {
    max-width: 604px;
  }

  @include on-desktop {
    max-width: 1234px;
  }

  &__img {
    display: block;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    
    background: linear-gradient(to right, #E77212, #3B6FEA);
    object-fit: cover;
    box-shadow: 0 0 15px rgba(214, 108, 67, 1);

    padding: 2px;
    margin: 22px 0 12px;

    @include on-tablet {
      width: 55px;
      height: 55px;
      margin: 25px 0 16px;
    }

    @include on-desktop {
      width: 69px;
      height: 69px;
      margin: 29px 0 18px;
    }
  }

  &__title {
    color: $text-color;
    font-weight: bold;
    font-size: 12px;

    margin-bottom: 8px;

    @include on-tablet {
      font-size: 20px;
      margin-bottom: 14px;
    }

    @include on-desktop {
      font-size: 28px;
      margin-bottom: 11px;
    }
  }

  &__description {
    color: $description-color;
    font-size: 10px;
    text-align: center;

    margin-bottom: 12px;
    padding: 0 15px;

    @include on-tablet {
      font-size: 16px;
      margin-bottom: 15px;
    }

    @include on-desktop {
      font-size: 22px;
      margin-bottom: 22px;
    }
  }

  &__button {
    @include smooth-scale(1.03, $effectDuration);

    display: inline-block;
    text-align: center;
    text-decoration: none;

    color: $text-color;
    font-weight: bold;
    font-size: 12px;

    padding: 5px 9px;
    margin-bottom: 22px;

    background: linear-gradient(45deg, #3B6FEA, #E77212);
    border: 1px solid $border-color;
    border-radius: 300px;

    @include on-tablet {
      padding: 5px 19px;
      font-size: 20px;
      margin-bottom: 25px;
    }

    @include on-desktop {
      padding: 7px 23px;
      margin-bottom: 30px;
    }
  }
}